{{> header}}

<h1>Products</h1>
<ul>
	{{#each products}}
	<li>
		<h2>{{this.name}}</h2>
		<p>Price: {{this.price}}</p>
		<p>Category: {{this.category}}</p>
		<p>Available: {{this.available}}</p>
		<button>Add to cart</button>
	</li>
	{{/each}}
</ul>

<div>
	{{#if hasPrevPage}}
		<a href="{{prevLink}}">Previous</a>
	{{/if}}
	{{#if hasNextPage}}
		<a href="{{nextLink}}">Next</a>
	{{/if}}
</div>

{{> footer}}